body{
    background-color: rgb(192, 221, 218);
    border: 2px solid black;
}
h1{
    color: rgb(20, 49, 103);
    border: 2px solid yellowgreen;
    
}

.highlight{
    color: brown;
}

ul#last li:last-child {
    background-color: chocolate;
}

.external:visited{
    color: blueviolet;
}

.external:hover{
    color: rgb(43, 226, 217);
}

div{
    margin: 20px;
    border: 2px solid black;
}

article{
    padding: 10px;
    color: azure;
}

.width_height{
    width: 200px;
    height: 150px;
    border: 2px solid green;
    background-color: rgb(187, 149, 149);  
    color: red; 
}

img{
    border: 2px solid rgb(57, 93, 160);
    width: 280px;
    height: 300px;
}

ul#square{
    list-style-type: square;
}

ol.decimal{
    list-style-type: decimal;
}

.none{
    list-style-type: none;
}

table{
    background-color: darkseagreen;
    border-collapse: collapse;
}

td, th {
    border: 2px solid #bc7474;
    text-align: center;
    padding: 8px;
}

.fixed-width {
    width: 200px;
}

.container {
    position: relative;
    height: 300px;
    width: 500px;
    border: 1px solid black;
}
  
.element {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 10px;
}

.stacked {
    position: relative;
    height: 300px;
    width: 300px;
    border: 1px solid black;
}
/* text on top of the Image not working properly */
.absolute {
    position: absolute;
    padding: 10px;
    background-color: #ccc;
    margin-bottom: 10px;
}
.top {
    position: relative;
    z-index: 2;
}
.image {
    position: relative;
    z-index: 1;
}
.firstchild > :first-child {
    background-color: #a15858;
}
/* tool tip (not properly working) */
.tooltip {
    position: relative;
}
.tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.tooltip:hover{
    visibility: visible;
    opacity: 1;
  }

  